*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

html{
  color-scheme: light;
}

body{
  color: #333;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header{
   width: 100%;
  
}

nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #71c8d0, #2fa1b2);
  opacity: 1;
  
}

.fixed{
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  animation-name: fixed-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes fixed-appear{
  from{opacity: 0;}
  to{opacity: 1;}
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 1em;
}

.logo img{
  width: 5rem;
  height: auto;
}

.nav-links{
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 100;
  gap: 1em;
}

.nav-links.active{
  display: flex;
  padding-block: 2em;
  
}

.nav-links li{
  list-style-type: none;
}

ul li a{
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
}
nav a.menu-toggle:hover, nav a.menu-toggle:focus{
  color: #be1e28;
  
}

.logo p{
  font-weight: 600;
  line-height: .9;
  font-size: 1.5rem;
}

#animal{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-style: italic;
  font-size: 2.5rem;
  color: #be1e28;
  text-shadow: 3px 3px 1px #F0C775;
}

.btn-menu svg{
  width: 2rem;
}

.btn-menu{
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: .5em;
}

.btn-menu span{
  font-size: 1.2rem;
  padding-bottom: .3em;
  font-weight: 600;
 }

.active{
 border-bottom: solid 3px #333;
 
}
.hero{
  padding: 2.5em;
  background-image: url('../images/fondo2.webp');
  background-color: #32a4b2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
.hero h1{
  font-size: 2rem;
  font-weight: 600;
  max-width: 40%;
}

/****** servicios ******/

.secondary-title{ 
 font-weight: 700;
 font-size: 1.7rem;
 text-align: center;
 margin-block: 1em;

}
.service-section{
  width: 90%;
  margin: 0 auto;
  border: solid 3px #32a4b2;
  border-radius: 15px;
  padding: 1em;
  margin-block: 2em;
}

.tertiary-title{
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1em;
}

.service-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1em;
}

.service-content figure{
  text-align: center;
}

.service-content img{
  width: 40%;
  border-radius: 15px;
  height: auto;
}

.info-text{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  
}
.info-section{
  flex: 2;
}

.service-content .key-word{
  color: #be1e28;
  font-weight: 500;
}

/*  reviews **/

.reviews{
  width: 90%;
  margin: 0 auto;
}
.reviews>h2{
  text-align: center  ;
}
.swiper-wrapper{
  margin-block: 1em;
}

blockquote{
  width: 80%;
  margin: 2em auto;
} 
blockquote p:first-child{
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 500;
  margin-block: 1em;
  line-height: 1.5;
}

.btn-reviews{
  text-decoration: none;
  padding: .5em 1em;
  border: none;
  background-color: #be1e28;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  
}
.reviews p:last-child{
  margin-top: 2em;
}



/************ sobre mi *************/

.container-about-me{
  width: 90%;
  border: solid 3px #32a4b2;
  margin: 2em auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  gap: 1em;
}

.container-about-me figure{
  width: 40%;
}

.container-about-me figure img{
  width: 100%;
  height: auto; 
  border-radius: 30px;
}
.about-text{
  margin-bottom: 1em;
}

/***********   galeria **************/

.container-gallery{
  width: 80%;
  margin: 0 auto;
  border: solid 3px #32a4b2;
  border-radius: 15px;
  padding: 1em;
}



.container-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  row-gap: 2em;
  justify-items: center;
  
}
 .container-gallery a{
  text-align: center;
  width: 100%;
} 

.container-gallery a img{
  width: 60%;
  height: auto;
  border-radius: 15px;
  aspect-ratio: 1 / 1.5; 
  object-fit: cover;
}
.info-gallery{
  text-align: center;
  margin-bottom: 1em;
}

#baguetteBox-overlay .full-image figcaption {
    font-size: 1.1rem;
    bottom: 1em;
    background-color: rgba(0,0,0,.8);
}


/******** contacto *********/

.contact-container{
  width: 90%;
  margin: 0 auto;
  border: solid 3px #32a4b2;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.contact-container iframe{
  max-width: 100%;
  height: auto;
}

.contact-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 1em;
}
.contact-data {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social{
  margin-block: .5em;
  display: flex;
  align-items: center;
  
}
.social-icon{
  margin-inline: .5em;
}

.social-icon svg:focus, .social-icon svg:hover{
   transform: scale(1.3);
}

.whatsapp svg{
  fill: #8bbf74;  
  width: 2.5rem;
 
}

.email svg{
  fill: #a86d32;
  width: 2.5rem;
 
}

.facebook svg{
  fill: #316FF6;
  width: 2.5rem;
 
}
.contact-adress{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

address{
  font-weight: 500;
  font-size: 1.2rem;
}

.contact-container iframe{
  aspect-ratio: 1 / 1;
  object-fit: cover;
} 

.copyright{
  width: 90%;
  background-color: lightblue;
  margin: 0 auto;
  border-radius: 15px;
  padding: 1em;
}

.copyright p{
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: center;
}

.copyright p a{
  text-decoration: none;
  color: #be1e28;
  font-size: 1.1rem;
  font-weight: 600;
}

.copyright p a:hover, .copyright p a:focus{
  color: #b00df2;
  transform: scale(1.1);
}

@media screen and (min-width: 600px){
  
  nav{
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
   
  .btn-menu{
    width: 25%;
  }

  .hero h1{
    font-size: 2.5rem;
  }

}

@media (min-width:900px){
  nav{
    flex-wrap: nowrap;
    padding-inline: 2em;
    gap: 2rem;
  }
  .btn-menu{
    display: none;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    
  }
  .hero h1{
    font-size: 3rem;
    margin: 1.5em;
  }
  .service-content{
    flex-direction: row;
    
  }
  .service-content figure{
    flex: 1;
    width: 80%;
  }

  .service-content figure img{
    width: 80%;
  }
  .info-section{
    flex: 2;
  }
  .contact-container{
    flex-direction: row;
  }

  .container-about-me{
    flex-direction: row;
    gap: 2em;
  }
  .container-about-me figure{
    flex: 1;
    width: 80%;
  }
  .about-me-text{
    flex: 2;
  }
}

@media (min-width:1200px){
  body{
    max-width: 1600px;
    margin: 0 auto;
  }
  .nav-links{
    gap: 2em;
  }
  .nav-links a{
    font-size: 1.6rem;
  }
  .logo img{
    width: 6rem;
  }
  .logo p, .secondary-title{
    font-size: 1.8rem;
  }
  #animal{
    font-size: 3.3rem;
    text-shadow: 4px 4px 1px #F0C775;
  } 
  .hero h1{
    font-size: 3.5rem;
  }

 .tertiary-title{
    font-size: 1.5rem;
  }
  .whatsapp a, .email a,.info-text{
    font-size: 1.3rem;
  }
  address{
    font-size: 1.4rem;
  }
}