/*=================
      RESET
==================*/

*{
  margin: 0;
  padding: 0;
 }

 *, ::after, ::before{
  box-sizing: border-box;
 }

/*================
      GENERAL
==================*/

html{
  scroll-behavior: smooth;
  color-scheme: light;
}

:root{
  
  --bg1: #DBDCD7;
  --bg2: #F4F4F4;
  --bg3: linear-gradient(to bottom,#DBDCD7 0%,#E7E8E4 50%,#D7E9F5 100%);
  --accent: #be1e28;
 
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Nunito', sans-serif;
  --font-color: #222222;
  --heading-color: #333333;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nun400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Mon700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body{
  color: var(--font-color);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4{
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--heading-color);
}

h1{
  font-size: clamp(2rem, 5vw, 3rem);
}

h2{
  margin-block: 1em;
  text-align: center;
  
  font-size: 1.7rem;
}

h3{
  
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1em;
}

p{
  font-size: 1.1rem;
}

a{
  color: var(--heading-color);
}

.container-page{
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  border: 3px solid #41B2C4;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1em;
  background-color: var(--bg2);
}

/*================
      HEADER
==================*/

header{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   background: var(--bg3);
   border-bottom: var(--bg2) solid 2px;
   padding: 1em;
}

.logo-link{
  display: flex;
  text-decoration: none;
}

.logo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-text span:first-child{
  font-family: var(--font-heading);
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-img{
  width: 4rem;
  height: auto;
}


nav{
  width: 100%;
  opacity: 1;
}

.fixed{
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  animation-name: fixed-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes fixed-appear{
  from{opacity: 0;}
  to{opacity: 1;}
}

.nav-links{
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 100;
  gap: 1em;
  list-style-type: none;
}

.nav-links.active{
  display: flex;
  padding-block: 1em;
}

.menu-link{
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
}

.active-link{
  border: #41B2C4 solid 2px;
  padding: .3em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.menu-link:hover, .menu-link:focus{
  color: var(--accent);
}

#animal{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-style: italic;
  font-size: 1.8rem;
  color: var(--accent);
  text-shadow: 3px 3px 1px #F0C775;
  line-height: .9;
}

.menu-toggle {
  all: unset;
  position: relative;
  width: 30px; 
  height: 24px;  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--font-color); 
  transition: transform 0.3s ease, opacity 0.3s ease;
}
/*inicial */
.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
  bottom: 0;
}

/*activo */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
    width: 40px;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
    width: 40px;
}

main{
  background: var(--bg1);
  padding-bottom: 2em; 
}

/*================
      HERO
==================*/

.hero{
  width: 100%;
  padding: 1em 2em;
  border-bottom: var(--bg2) solid 2px;
  position: relative;
}

 .hero-img{
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.hero h1{
  position: relative;
  margin-block: .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  gap: 1em;
  font-weight: 700;
 }

 .hero .slogan{
  font-size: clamp(1.6rem, 4vw, 2rem);
 }

/*================
      SERVICIOS
==================*/

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.service-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1em;
}

.service-content figure{
  text-align: center;
}

.service-content img{
  width: 40%;
  border-radius: 15px;
  height: auto;
}

.info-section{
  flex: 2;
}

.key-word{
  color: #be1e28;
  font-weight: 600;
}

/*================
      REVIEWS
==================*/

.reviews{
  margin-block: 2em;
}

.swiper-wrapper{
  margin-block: 1em;
}

blockquote{
  width: 80%;
  margin: 2em auto;
}

.quote{
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 500;
  margin-block: 1em;
}

.review-user{
  margin-block: 1em;
  text-align: center;
}

.review-btn{
  text-decoration: none;
  padding: .5em 1em;
  border: none;
  background-color: var(--accent);
  color: var(--bg2);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
}

.review-user p{
  margin-top: 1em;
}


/*================
    SOBRE-MI
==================*/
.about-me{
  padding-block: 1em;
}

.about-me-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.about-me-container figure{
  width: 40%;
  align-self: center;
}

.about-me-img{
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

.about-me-text{
  margin-bottom: 1em;
}

/*================
      GALERIA
==================*/

.gallery{
  padding-block: 1em;
}

.container-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  row-gap: 2em;
  justify-items: center;
}

 .container-gallery a{
  text-align: center;
  width: 100%;
} 

.container-gallery a img{
  width: 60%;
  height: auto;
  border-radius: 15px;
  aspect-ratio: 1 / 1.5; 
  object-fit: cover;
}

.info-gallery{
  text-align: center;
  margin-bottom: 1em;
}

#baguetteBox-overlay .full-image figcaption {
    font-size: 1.1rem;
    bottom: 1em;
    background-color: rgba(0,0,0,.8);
}

/*================
      BLOG
==================*/

.blog{
  padding-block: 1em;
}
.blog-intro-text{
  margin: 1em auto;
  
}

.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  
}

.article-card{
  
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border: 3px solid #41B2C4;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}
.article-card-title{
  text-underline-offset: .3em;
  margin-top: auto;
}

.article-card-image{
  width: 100%;
  order: -1;
  border-radius: 5px;
}

.article-card-date{
  order: -2;
  font-size: .9rem;
  align-self: flex-start;
}

/*================
  ARTÃCULOS-BLOG
==================*/

.article-main{
  padding-block: 2em;
}

.blog-article{
  max-width: 900px;
  display: flex;
  flex-direction: column;
 }

 .blog-article-body{
  padding-inline: 2em;
 }
 .blog-article-title{
  font-size: 2rem;
 }
 .blog-article-subtitle{
  font-size: 1.4rem;
  text-align: left;
 }

.blog-article-header{
  background: var(--bg2);
}
.blog-article p{
  text-indent: 2em;
}

.blog-article-image{
  display: block;
  width: 80%;
  margin: 1em auto;
  border-radius: 5px;
}
.blog-article blockquote{
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
}
.blog-article-list{
  padding-inline-start: 1em;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.blog-link, .article-link{
  align-self: center;
  color: var(--accent);
  text-underline-offset: .3em;
  font-size: 1.2rem;
  
}
.blog-link img, .article-link img{
  width: 30px;
  margin-bottom: -10px;
}

/*================
      CONTACTO
==================*/

footer{
  background-color: var(--bg3);
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.contact-container iframe{
  max-width: 100%;
  height: auto;
}

.contact-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social{
  margin-block: .5em;
  display: flex;
  align-items: center;
}

.social-icon{
  margin-inline: .5em;
}

.social-icon img{
  width: 3rem;
}

.social-icon img:focus, .social-icon img:hover{
   transform: scale(1.3);
}

.contact-adress{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

address{
  font-weight: 500;
  font-size: 1.2rem;
}

.contact-container iframe{
  aspect-ratio: 1 / 1;
  object-fit: cover;
} 

.copyright{
  text-align: center;
  width: 100%;
  background-color: var(--bg2);
  padding: 1em;
}

.copyright p{
  font-weight: 600;
  font-size: .9rem;
}

.copyright p a:hover, .copyright p a:focus{
  color: var(--accent);
  transform: scale(1.1);
}

/*==============
    MODAL
===============*/

.privacy__btn{
  border: 1px solid black;
  background-color: transparent;
  padding: .3em;
  border-radius: 5px;
}

.modal{
  /* width: clamp(300px, 40vw, 500px); */
  width: 80%;
  margin: 3em auto;
  padding: 1em;
  gap: 1em;
  background-color: #D7E9F5;
  
}

.modal::backdrop{
  background-color: rgba(0, 0, 0, .7);
}

.modal__title, .modal__info{
  margin-block: 1em;
}

.modal__list{
  padding-inline-start: 1em;
}
.modal__list>li{
  list-style-type: circle;
  margin-block: .5em;
}

.modal__link{
  color: black;
  text-underline-offset: .2em;
}
.modal__btn{
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .3em;
  border-radius: 5px;

}



/*================
    MEDIA QUERIES
==================*/

@media screen and (min-width: 800px){
  header{
    flex-direction: row;
    gap: 1em;
  }
  
  .menu-toggle{
    display: none;
  }

  nav{
    width: auto;
  }

  .nav-links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
 }

@media (min-width:900px){
  nav{
    flex-wrap: nowrap;
    padding-inline: 2em;
    gap: 2rem;
  }

  .btn-menu{
    display: none;
  }
  
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    
  }
 .hero {
    height: 60vh;
  } 

  .service-content{
    flex-direction: row;
  }

  .service-content figure{
    flex: 1;
    width: 80%;
  }

  .service-content figure img{
    width: 80%;
  }

  .info-section{
    flex: 2;
  }

  .contact-container{
    flex-direction: row;
  }

   .about-me-container{
    flex-direction: row;
    gap: 2em;
  } 

  .about-me-text{
    flex: 2;
  }

  .blog-intro-text{
    width: 80%;
  }
}

@media (min-width:1200px){
  body{
    max-width: 1500px;
    margin: 0 auto;
  }
  .nav-links{
    gap: 2em;
  }
  .menu-link{
    font-size: 1.4rem;
  }

  address{
    font-size: 1.4rem;
  }
}